{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "MathJax Settings" | translate("mathjax") }}{% endblock %}

{% block content %}
<h2>{{ "MathJax Settings" | translate("mathjax") }}</h2>
<form id="mathjax_settings" class="split" action="{{ url('mathjax_settings') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
<p>
<label for="enable_latex">{{ "TeX and LaTeX Support" | translate("mathjax") }}</label>
<input type="checkbox" class="checkbox" name="enable_latex" id="enable_latex"{{ site.module_mathjax.enable_latex | checked }}>
<a href="https://docs.mathjax.org/en/v3.0-latest/input/tex/delimiters.html" rel="help" target="_blank" class="help emblem"><img src="{{ site.chyrp_url }}/admin/images/icons/help.svg" alt="{{ 'help' | translate }}"></a>
</p>
<p>
<label for="enable_mathml">{{ "MathML Support" | translate("mathjax") }}</label>
<input type="checkbox" class="checkbox" name="enable_mathml" id="enable_mathml"{{ site.module_mathjax.enable_mathml | checked }}>
<a href="https://docs.mathjax.org/en/v3.0-latest/input/mathml.html" rel="help" target="_blank" class="help emblem"><img src="{{ site.chyrp_url }}/admin/images/icons/help.svg" alt="{{ 'help' | translate }}"></a>
</p>
<p class="buttons">
<button type="submit" class="yay"><img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="">{{ "Update" | translate }}</button>
</p>
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
