{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
<h2>{{ "Lost password" | translate }}</h2>
<form action="{{ url('lost_password') }}" method="post" accept-charset="UTF-8">
<label for="login">{{ "Username" | translate }}</label>
<input type="text" name="login" value="{{ posted('login') | fix(true, true) }}" id="login" autofocus>
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
<div class="doaction">
<button name="submit" type="submit" id="submit">{{ "Submit" | translate }}</button>
</div>
</form>
{% endblock %}
