{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}

{# Months? (For yearly archives) #}
{% if months is not empty %}
<div class="archive standalone">
{% for when, month in months %}
<h2 id="label_{{ when }}_archive" class="archive">
<a href="{{ url('archive/%s/' | format(when | dateformat('Y/m'))) }}">
{{ when | dateformat("F Y" | translate) }}
</a>
</h2>
<ul aria-labelledby="label_{{ when }}_archive" class="archive">
{% for post in month %}
<li>
<article class="post archive {{ post.feather }}" id="post_{{ post.id }}" role="presentation">
<div class="post_archive_container" aria-hidden="true">
{% if post.feather == "photo" %}
{{ post.filename | thumbnail(post.alt_text, false, ["max_width=196", "quality=60", "square=1"], "(max-width: 599px) 95vw, 196px") }}
{% elseif post.feather == "uploader" and post.image is defined %}
{{ post.image | thumbnail("", false, ["max_width=196", "quality=60", "square=1"], "(max-width: 599px) 95vw, 196px") }}
{% else %}
{% if post.title is not empty %}
<h4 class="archive">{{ post.title | striptags | normalize | truncate(20) }}</h4>
{% endif %}
<p>{{ post.excerpt() | striptags | normalize | oneof(post.slug) }}</p>
{% endif %}
</div>
<a href="{{ post.url() }}" class="archive_post_link">
{{ "Permanent link to &#8220;%s&#8221;" | translate | format(post.title() | oneof(post.slug) | striptags | normalize | fix(true)) }}
</a>
</article>
</li>
{% endfor %}
</ul>
{% endfor %}
</div>
<div role="navigation" class="prev_next traversal">
{% if archive.prev is not empty %}
<a href="{{ url('archive/%s/' | format(archive.prev | dateformat('Y'))) }}">
{{ "Archive of %s" | translate | format(archive.prev | dateformat("Y")) }}
</a>
{% endif %}
{% if archive.next is not empty %}
<a href="{{ url('archive/%s/' | format(archive.next | dateformat('Y'))) }}">
{{ "Archive of %s" | translate | format(archive.next | dateformat("Y")) }}
</a>
{% endif %}
</div>
{% endif %}

{# Posts? (For daily/monthly archives) #}
{% if posts.paginated is not empty %}
<div class="ribbon">
<h3 role="status" class="ribbon">
{{ "Archive of %s" | translate | format(archive.when | dateformat(archive.depth == "day" ? "d F Y" : "F Y")) }}
</h3>
</div>
{% for post in posts.paginated %}
{% include(["feathers" ~ DIR ~ post.feather ~ ".twig", "feathers" ~ DIR ~ "missing.twig"]) %}
{% endfor %}
{% endif %}

{# No results #}
{% if months is empty and posts.paginated is empty %}
<div class="ribbon">
<h3 role="status" class="ribbon">{{ "There aren't any posts in the timeframe you specified." | translate }}</h3>
</div>
{% endif %}

{% endblock %}
