<!DOCTYPE html>
<html lang="{{ site.locale | lang_base }}" dir="{{ site.locale | text_direction }}">
<head>
<meta charset="UTF-8">
<title>{% block title %}{{ title | fix }}{% endblock %}{{ " | "}}{{ site.name | fix }}</title>
<style type="text/css" nonce="{{ stylesheets_nonce() }}">
@font-face {
    font-family: 'Open Sans webfont';
    src: url('{{ site.chyrp_url }}/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('{{ site.chyrp_url }}/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('{{ site.chyrp_url }}/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('{{ site.chyrp_url }}/fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('{{ site.chyrp_url }}/fonts/OpenSans-SemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'Open Sans webfont';
    src: url('{{ site.chyrp_url }}/fonts/OpenSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('{{ site.chyrp_url }}/fonts/Cousine-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('{{ site.chyrp_url }}/fonts/Cousine-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('{{ site.chyrp_url }}/fonts/Cousine-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Cousine webfont';
    src: url('{{ site.chyrp_url }}/fonts/Cousine-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
html, body, div, dl, dt, dd, ul, ol, li, p,
h1, h2, h3, h4, h5, h6, img, pre, code,
form, fieldset, input, select, textarea,
table, tbody, tr, th, td, legend, caption,
blockquote, aside, figure, figcaption {
    margin: 0em;
    padding: 0em;
    border: 0em;
}
html {
    font-size: 16px;
}
table {
    border-collapse: collapse;
    border-spacing: 0em;
}
*::selection {
    color: #1f1f23;
    background-color: #ffdd00;
}
body {
    font-family: "Open Sans webfont", sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #1f1f23;
    tab-size: 4;
    margin: 2rem;
    max-width: 1024px;
    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    font-style: normal;
    font-variant: normal;
    margin: 1rem 0em;
    padding: 0rem;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3, h4, h5, h6 {
    font-size: 1em;
    font-weight: 600;
}
sup, sub {
    line-height: 1;
    font-size: 0.75em;
}
em, dfn, cite, var {
    font: inherit;
    font-style: italic;
}
figure, blockquote {
    margin-bottom: 1rem;
    font: inherit;
    font-size: 1rem;
}
blockquote {
    font-style: italic;
}
figcaption {
    font-size: 0.75em;
    margin-top: 0rem;
}
blockquote em {
    font-style: normal;
}
strong {
    font: inherit;
    font-weight: bold;
}
address {
    font: inherit;
}
small {
    font-size: 0.75em;
}
mark {
    color: #1f1f23;
    background-color: #ffdd00;
}
del {
    font: inherit;
    text-decoration: line-through;
}
ins {
    font: inherit;
    color: #1f1f23;
    background-color: #daf1d0;
}
p {
    margin-bottom: 1rem;
}
ul {
    list-style: disc outside;
    margin: 1rem 0rem;
    margin-inline-start: 2rem;
    padding: 0rem;
}
ul ul {
    list-style-type: circle;
}
ol {
    list-style: decimal outside;
    margin: 1rem 0rem;
    margin-inline-start: 2rem;
    padding: 0rem;
}
ol ol {
    list-style-type: lower-roman;
}
dl {
    list-style: none;
}
dl dt {
    font-weight: bold;
}
dl dd {
    margin-left: 1rem;
}
hr {
    border: none;
    clear: both;
    border-top: 1px solid #dddddd;
    margin: 2rem 0rem;
}
aside {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid #e5d7a1;
    border-radius: 0.25em;
    background-color: #fffde6;
}
pre {
    font-family: "Cousine webfont", monospace;
    font-size: 0.85em;
    background-color: #efefef;
    margin: 1rem 0rem;
    padding: 1rem;
    overflow-x: auto;
    white-space: pre;
}
code {
    font-family: "Cousine webfont", monospace;
    font-size: 0.85em;
    background-color: #efefef;
    padding: 0px 2px;
    border: 1px solid #cfcfcf;
    vertical-align: bottom;
    white-space: break-spaces;
}
pre > code {
    font-size: 0.85rem;
    display: block;
    border: none;
    padding: 0px;
    white-space: inherit;
}
img {
    max-width: 100%;
}
table {
    width: 100%;
    margin: 0rem 0rem 1rem 0rem;
    overflow-x: scroll;
}
table th {
    background-color: #dfdfdf;
    padding: 0.5rem;
    font: inherit;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    border: 1px solid #afafaf;
}
table td {
    padding: 0.5rem;
    font: inherit;
    vertical-align: middle;
    border: 1px solid #cfcfcf;
}
table tbody tr:nth-child(even) td {
    background-color: #fbfbfb;
}
table tbody tr td.emblem {
    text-align: center;
}
td > *:first-child {
    margin-top: 0rem;
}
td > *:last-child {
    margin-bottom: 0rem;
}
a:link,
a:visited {
    color: #1f1f23;
    text-decoration: underline;
    text-underline-offset: 0.125em;
}
a:focus {
    outline: #ff7f00 dashed 2px;
    outline-offset: 0px;
}
a:hover,
a:focus,
a:active {
    color: #1e57ba;
    text-decoration: underline;
    text-underline-offset: 0.125em;
}
img.emblem,
a.emblem > img {
    display: inline;
    position: relative;
    top: 0.1875rem;
    height: 1rem;
}
@media screen and (min-width: 1080px) {
   body {
        margin: 2rem auto;
    }
}
@media (prefers-color-scheme: dark) {
    body {
        background-color: #efefef;
    }
    hr {
        border-color: #afafaf;
    }
    aside {
        border-color: #afafaf;
    }
    pre {
        background-color: #dfdfdf;
    }
    code {
        background-color: #dfdfdf;
        border-color: #afafaf;
    }
    table tbody tr td {
        border-color: #afafaf;
    }
    table tbody tr:nth-child(even) td {
        background-color: #dfdfdf;
    }
}
</style>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
