<!DOCTYPE html>
<html lang="{{ site.locale | lang_base }}" dir="{{ site.locale | text_direction }}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all" href="{{ site.chyrp_url | fix(true) }}/admin/stylesheets/help.css">
<title>{% block title %}{{ title | fix }}{% endblock %}{{ " | "}}{{ site.name | fix }}</title>
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>
