<li id="comment_{{ comment.id }}">
{% if comment.status == "pingback" %}
<h3>{{ "%s:" | translate | format(comment.author_link) }}</h3>
{% else %}
<h3>{{ "%s said:" | translate | format(comment.author_link) }}</h3>
{% endif %}
<section class="comment">
{% if comment.status == "denied" %}
<em>{{ "This comment is awaiting moderation." | translate }}</em>
{% else %}
{{ comment.body }}
{% endif %}
</section>
{% if comment.editable() or comment.deletable() %}
<div class="doaction">
{{ comment.edit_link() }} {{ comment.delete_link() }}
</div>
{% endif %}
<div class="metadata">
<cite>
<a href="{{ comment.url() }}" class="permalink">
{{ comment.created_at | dateformat }}
</a>
</cite>
</div>
</li>
