<article class="post {{ post.feather }}{{ post.pinned ? ' pinned' : '' }}" id="post_{{ post.id }}">
{% block content %}{% endblock %}
<footer>
{% if (module_enabled("tags") and post.tags_link is not empty) %}
<div role="note" class="tags">
<a href="{{ url('tags') }}">{{ "Tags" | translate }}:</a> {{ post.tags_link | join(" ") }}
</div>
{% endif %}
{% if post.editable() or post.deletable() %}
<div class="doaction admin">
{{ post.edit_link() }} {{ post.delete_link() }}
</div>
{% endif %}
<div role="note" class="metadata">
<a href="{{ post.url() }}" rel="bookmark" title="{{ 'Permanent link to &#8220;%s&#8221;' | translate | format(post.title() | striptags | fix(true)) }}">
{% if post.status == "draft" %}
{{ "Draft" | translate }}
{% elseif post.status == "scheduled" %}
{{ "Scheduled" | translate }}
{% elseif post.pinned %}
{{ "Pinned" | translate }}
{% else %}
{{ post.created_at | dateformat }}
{% endif %}
</a>
{% if module_enabled("categorize") and post.category is defined %}
&bull; <a href="{{ post.category.url }}" rel="tag">{{ post.category.name | oneof("[Untitled]" | translate) }}</a>
{% endif %}
{% if module_enabled("likes") %}
{{ post.like_link ? "&bull; " ~ post.like_link : "" }}
{% endif %}
{% if module_enabled("pingable") and post.pingback_count is defined %}
&bull;
<a href="{{ post.url() }}#pingbacks" rel="bookmark" title="{{ 'View pingbacks' | translate }}">
{{ "%s pingback" | translate_plural("%s pingbacks", post.pingback_count) | format(post.pingback_count) }}
</a>
{% endif %}
{% if module_enabled("comments") and post.comment_status is defined and post.comment_count is defined %}
{% if post.comment_status == "closed" %}
&bull; {{ "Comments closed" | translate }}
{% else %}
&bull;
<a href="{{ post.url() }}#comments" rel="bookmark" title="{{ 'View comments' | translate }}">
{{ "%s comment" | translate_plural("%s comments", post.comment_count) | format(post.comment_count) }}
</a>
{% endif %}
{% endif %}
{% if module_enabled("rights") and post.rights_holder is defined %}
&bull;
{% if post.rights_holder is not empty %}
{{ "&copy; %s, %s." | translate | format(post.rights_holder, post.licence_link) }}
{% else %}
{{ "&copy; %s." | translate | format(post.licence_link) }}
{% endif %}
{% endif %}
</div>
</footer>
</article>
