{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Delete Upload?" | translate }}{% endblock %}

{% block content %}
<h2>{{ "Delete Upload?" | translate }}</h2>
<form class="delete" action="{{ url('destroy_upload') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
<p>
{{ "&#8220;%s&#8221; will be permanently deleted." | translate | format(filename | fix) }}
</p>
<div class="confirmation">
<button name="destroy" value="indubitably" class="boo">
{{ icon_img("destroy.svg") }}{{ "Delete!" | translate }}
</button>
<button name="destroy" value="undecidedly" type="submit" class="yay">
{{ icon_img("cancel.svg") }}{{ "Cancel" | translate }}
</button>
</div>
<input type="hidden" name="file" value="{{ filename | fix(true) }}" id="id">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
