{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Delete User?" | translate }}{% endblock %}

{% block content %}
<h1>{{ "Delete User?" | translate }}</h1>
<p>
{{ "Are you sure you want to delete user &#8220;%s&#8221;?" | translate | format(user.login) }}
</p>
<form class="delete split" action="{{ url('destroy_user') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
{% if user.posts is not empty %}
<p>
<label for="move_posts">{{ "Attribute posts to:" | translate }}</label>
<select name="move_posts" id="move_posts">
<option value="0">{{ "[Delete Posts]" | translate }}</option>
{% if users is not empty %}
{% for user in users %}
<option value="{{ user.id }}">{{ user.full_name is not empty ? user.full_name ~ " (" ~ user.login ~ ")" : user.login }}</option>
{% endfor %}
{% endif %}
</select>
</p>
{% endif %}
{% if user.pages is not empty %}
<p>
<label for="move_pages">{{ "Attribute pages to:" | translate }}</label>
<select name="move_pages" id="move_pages">
<option value="0">{{ "[Delete Pages]" | translate }}</option>
{% if users is not empty %}
{% for user in users %}
<option value="{{ user.id }}">{{ user.full_name is not empty ? user.full_name ~ " (" ~ user.login ~ ")" : user.login }}</option>
{% endfor %}
{% endif %}
</select>
</p>
{% endif %}
{{ trigger.call("delete_user_form") }}
<div class="confirmation">
<button name="destroy" value="indubitably" class="boo">
<img src="{{ site.chyrp_url }}/admin/images/icons/delete.svg" alt="">{{ "Delete!" | translate }}
</button>
<button name="destroy" value="undecidedly" type="submit" class="yay">
<img src="{{ site.chyrp_url }}/admin/images/icons/cancel.svg" alt="">{{ "Cancel" | translate }}
</button>
</div>
<input type="hidden" name="id" value="{{ user.id }}" id="id">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
