{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Delete Group?" | translate }}{% endblock %}

{% block content %}
<h1>{{ "Delete Group?" | translate }}</h1>
<p>
{{ "Are you sure you want to delete the &#8220;%s&#8221; group?" | translate | format(group.name) }}
</p>
<form class="delete split" action="{{ url('destroy_group') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
{% if group.users is not empty and groups is not empty %}
<p>
<label for="move_group">{{ "Move members to:" | translate }}</label>
<select name="move_group" id="move_group">
{% for group in groups %}
<option value="{{ group.id }}"{{ group.id | selected(site.default_group) }}>{{ group.name }}</option>
{% endfor %}
</select>
</p>
{% endif %}
{% if group.id == site.default_group and groups is not empty %}
<p>
<label for="default_group">{{ "New default group:" | translate }}</label>
<select name="default_group" id="default_group">
{% for group in groups %}
<option value="{{ group.id }}"{{ group.id | selected(site.guest_group) }}>{{ group.name }}</option>
{% endfor %}
</select>
</p>
{% endif %}
{% if group.id == site.guest_group and groups is not empty %}
<p>
<label for="guest_group">{{ "New &#8220;guest&#8221; group:" | translate }}</label>
<select name="guest_group" id="guest_group">
{% for group in groups %}
<option value="{{ group.id }}"{{ group.id | selected(site.default_group) }}>{{ group.name }}</option>
{% endfor %}
</select>
</p>
{% endif %}
<div class="confirmation">
<button name="destroy" value="indubitably" class="boo">
<img src="{{ site.chyrp_url }}/admin/images/icons/delete.svg" alt="">{{ "Delete!" | translate }}
</button>
<button name="destroy" value="undecidedly" type="submit" class="yay">
<img src="{{ site.chyrp_url }}/admin/images/icons/cancel.svg" alt="">{{ "Cancel" | translate }}
</button>
</div>
<input type="hidden" name="id" value="{{ group.id }}" id="id">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
