{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Edit Page" | translate }}{% endblock %}

{% block content %}
<h1>{{ "Editing &#8220;%s&#8221;" | translate | format(page.title | striptags | oneof("[Untitled]" | translate)) }}</h1>
<form id="edit_form" action="{{ url('update_page') }}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
<fieldset role="presentation">
{% include "partials" ~ DIR ~ "page_fields.twig" %}
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
<input type="hidden" name="id" value="{{ page.id }}" id="page_id">
</fieldset>
</form>
{% endblock %}
