{% extends "layout.twig" %}

{% block title %}{{ "Edit &#8220;%s&#8221;" | translate | format(post.title | striptags) }}{% endblock %}

{% block content %}
<h1>{{ "Editing &#8220;%s&#8221;" | translate | format(post.title | striptags) }}</h1>
<form id="edit_form" class="{{ post.feather | fix(true) }}" action="{{ admin_url('update_post') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
<fieldset>
{% include "partials/post_fields.twig" %}
<input type="hidden" name="id" value="{{ post.id }}" id="post_id">
<input type="hidden" name="feather" value="{{ post.feather | fix(true) }}" id="feather">
<input type="hidden" name="hash" value="{{ ip | token }}" id="hash">
</fieldset>
</form>
{% endblock %}
