{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Edit Post" | translate }}{% endblock %}

{% block content %}
<h1>{{ "Editing &#8220;%s&#8221;" | translate | format(post.title() | striptags | oneof("[Untitled]" | translate)) }}</h1>
<form id="edit_form" action="{{ url('update_post') }}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
<fieldset role="presentation">
{% include "partials" ~ DIR ~ "post_fields.twig" %}
<input type="hidden" name="id" value="{{ post.id }}" id="post_id">
<input type="hidden" name="feather" value="{{ post.feather | fix(true) }}" id="feather">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
