{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Edit User" | translate }}{% endblock %}

{% block content %}
<h1>{{ "Editing User &#8220;%s&#8221;" | translate | format(user.login) }}</h1>
<form id="user_edit" class="split" action="{{ url('update_user') }}" method="post" accept-charset="UTF-8"{% if user.id == visitor.id %} data-confirm="{{'Are you sure you want to make these changes to your account?' | translate | fix(true) }}"{% endif %}>
<fieldset role="presentation">
<p>
<label for="login">{{ "Login" | translate }}</label>
<input class="text" type="text" name="login" value="{{ user.login | fix(true) }}" id="full_name" maxlength="64" required>
</p>
<p>
<label for="email">{{ "Email" | translate }}</label>
<input class="text" type="email" name="email" value="{{ user.email | fix(true) }}" id="email" maxlength="128" required>
</p>
<p>
<label for="group">{{ "Group" | translate }}</label>
<select name="group" id="group">
{% for group in groups %}
<option value="{{ group.id }}"{{ group.id | selected(user.group_id) }}>{{ group.name }}</option>
{% endfor %}
</select>
</p>
<p>
<label for="new_password1">{{ "New Password?" | translate }}</label>
<input class="text" type="password" name="new_password1" value="" id="new_password1" maxlength="128">
</p>
<p>
<label for="new_password2">{{ "Confirm" | translate }}</label>
<input class="text" type="password" name="new_password2" value="" id="new_password2" maxlength="128">
</p>
<p>
<label for="full_name">
{{ "Full Name" | translate }}
<span class="sub">{{ "(optional)" | translate }}</span>
</label>
<input class="text" type="text" name="full_name" value="{{ user.full_name | fix(true) }}" id="full_name" maxlength="250">
</p>
<p>
<label for="website">
{{ "Website" | translate }}
<span class="sub">{{ "(optional)" | translate }}</span>
</label>
<input class="text" type="url" name="website" value="{{ user.website | fix(true) }}" id="website" maxlength="128">
</p>
{% if site.email_activation %}
<p>
<label for="activated">{{ "Activated?" | translate }}</label>
<input class="checkbox" type="checkbox" name="activated" id="activated"{{ user.approved | checked }}>
</p>
{% endif %}
{{ trigger.call("edit_user_fields", user) }}
<p class="buttons">
<button type="submit" class="yay"><img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="">{{ "Update" | translate }}</button>
</p>
<input type="hidden" name="id" value="{{ user.id }}" id="id">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
