{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Feathers" | translate }}{% endblock %}

{% block content %}
<h2>{{ "Feathers" | translate }}</h2>
<ul id="feathers_enabled" class="extend feathers">
<h5>{{ "Enabled" | translate }}</h5>
{% for safename, feather in enabled_feathers %}
<li class="feather{{ feather.classes is defined ? ' ' ~ feather.classes | join(' ') : '' }}" id="feather_{{ safename }}">
<h3>
<a class="emblem feather_url" href="{{ feather.url }}" target="_blank">
<img src="{{ site.chyrp_url }}/admin/images/icons/info.svg" alt="{{ 'info' | translate }}">
{{ feather.name }}{# translation is done in the controller #}
</a>
</h3>
<p class="feather_description">
{{ feather.description }}{# translation is done in the controller #}
</p>
<div class="controls">
<form class="feather_disabler" action="{{ url('disable') }}" method="post" accept-charset="UTF-8">
<input type="hidden" name="extension" value="{{ safename }}">
<input type="hidden" name="type" value="feather">
<input type="hidden" name="hash" value="{{ authenticate() }}">
{% if feather.confirm is not empty %}
<button name="confirm" value="1" type="submit" data-confirm="{{ feather.confirm | fix(true) }}">
<img src="{{ site.chyrp_url }}/admin/images/icons/warning.svg" alt="">{{ "Uninstall" | translate }}
</button>
{% endif %}
<button type="submit">
<img src="{{ site.chyrp_url }}/admin/images/icons/deny.svg" alt="">{{ "Disable" | translate }}
</button>
</form>
</div>
</li>
{% endfor %}
</ul>
<ul id="feathers_disabled" class="extend feathers">
<h5>{{ "Disabled" | translate }}</h5>
{% for safename, feather in disabled_feathers %}
<li class="feather{{ feather.classes is defined ? ' ' ~ feather.classes | join(' ') : '' }}" id="feather_{{ safename }}">
<h3>
<a class="emblem feather_url" href="{{ feather.url }}" target="_blank">
<img src="{{ site.chyrp_url }}/admin/images/icons/info.svg" alt="{{ 'info' | translate }}">
{{ feather.name }}{# translation is done in the controller #}
</a>
</h3>
<p class="feather_description">
{{ feather.description }}{# translation is done in the controller #}
</p>
<div class="controls">
<form class="feather_enabler" action="{{ url('enable') }}" method="post" accept-charset="UTF-8">
<input type="hidden" name="extension" value="{{ safename }}">
<input type="hidden" name="type" value="feather">
<input type="hidden" name="hash" value="{{ authenticate() }}">
<button type="submit">
<img src="{{ site.chyrp_url }}/admin/images/icons/add.svg" alt="">{{ "Enable" | translate }}
</button>
</form>
</div>
</li>
{% endfor %}
</ul>
{% endblock %}
