{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Manage Posts" | translate }}{% endblock %}

{% block content %}
<form class="filters" action="{{ url('/') }}" method="get" accept-charset="UTF-8">
<fieldset>
<input type="hidden" name="action" value="manage_posts">
<div role="search" class="filter_item">
<h3>
{{ "Search&hellip;" | translate }}
<a href="{{ url('help/id/filtering_results') }}" target="_blank" class="help emblem"><img src="{{ site.chyrp_url }}/admin/images/icons/help.svg" alt="help"></a>
</h3>
<input class="text filter_text" type="text" name="query" value="{{ GET.query | fix(true) }}" id="query">
<button type="submit">{{ "Search" | translate }}</button>
</div>
{% if theme.archives_list() is not empty %}
<div class="filter_item">
<h3>{{ "Browse by month:" | translate }}</h3>
<select name="month" onchange="$(this).parents('form.filters').submit()">
<option value="">{{ "[All]" | translate }}</option>
{% for archive in theme.archives_list() %}
{% set option_selected = GET.month is defined ? GET.month | selected(archive.when | strftimeformat("%Y-%m")) : "" %}
{% set option_contents = (archive.when | strftimeformat("%B %Y")) ~ " (" ~ archive.count ~ ")" %}
<option value="{{ archive.when | strftimeformat('%Y-%m') }}"{{ option_selected }}>{{ option_contents }}</option>
{% endfor %}
</select>
</div>
{% endif %}
</fieldset>
</form>
<h2>{{ GET.query is not empty ? "Search Results" | translate : "Posts" | translate }}</h2>
<table>
<thead>
<tr class="head">
<th class="post_title title">{{ "Title" | translate }}</th>
<th class="post_date date">{{ "Posted" | translate }}</th>
<th class="post_status status">{{ "Status" | translate }}</th>
<th class="post_author value">{{ "Author" | translate }}</th>
{{ trigger.call("manage_posts_column_header") }}
<th class="controls" colspan="2">{{ "Controls" | translate }}</th>
</tr>
</thead>
<tbody>
{% for post in posts.paginated %}
<tr id="post_{{ post.id }}" class="post {{ post.status_class }}">
<td class="post_title title main">
<a href="{{ post.url() }}">{{ post.title() | oneof("[Untitled]" | translate) | truncate(40, "&hellip;", true) }}</a>
</td>
<td class="post_date date">
{{ post.created_at | strftimeformat }}
</td>
<td class="post_status status">
{{ post.status_name }}
</td>
<td class="post_author value">
{{ post.author.nick is defined ? post.author.nick : "" }}
</td>
{{ trigger.call("manage_posts_column", post) }}
{% if post.editable() or post.deletable() %}
{% if post.editable() %}
<td class="controls"{{ not post.deletable() ? ' colspan="2"' : '' }}>
{{ post.edit_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/edit.svg" alt="' ~ ('edit' | translate) ~ '">') }}
</td>
{% endif %}
{% if post.deletable() %}
<td class="controls"{{ not post.editable() ? ' colspan="2"' : '' }}>
{{ post.delete_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/delete.svg" alt="' ~ ('delete' | translate) ~ '">') }}
</td>
{% endif %}
{% else %}
<td class="controls" colspan="2">&nbsp;</td>
{% endif %}
</tr>
{% else %}
<tr>
<td class="placeholder"><span class="sub">{{ "(none)" | translate }}</span></td>
</tr>
{% endfor %}
</tbody>
</table>
{% if posts.paginated is defined and posts.pages > 1 %}
<div class="pagination">
<span class="pages">{{ "Page %d of %s" | translate | format(posts.page, posts.final_link(posts.pages)) }}</span>
{{ posts.prev_link }}
{{ posts.next_link }}
</div>
{% endif %}
{% endblock %}
