{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Manage Pages" | translate }}{% endblock %}

{% block content %}
<form class="filters" action="{{ url('manage_pages') }}" method="post" accept-charset="UTF-8" role="search">
<fieldset role="presentation">
<h3>
{{ "Search&hellip;" | translate }}
<a href="{{ url('help/id/filtering_results') }}" rel="help" target="_blank" class="help emblem"><img src="{{ site.chyrp_url }}/admin/images/icons/help.svg" alt="{{ 'help' | translate }}"></a>
</h3>
<input class="text filter_text" type="text" name="query" value="{{ GET.query | fix(true) }}" id="query" aria-label="{{ 'Query' | translate | fix(true) }}">
<button type="submit">{{ "Search" | translate }}</button>
</fieldset>
</form>
<h2>{{ GET.query is not empty ? "Search Results" | translate : "Pages" | translate }}</h2>
<table>
<thead>
<tr class="head">
<th class="page_title title main">{{ "Title" | translate }}</th>
<th class="page_created date">{{ "Created" | translate }}</th>
<th class="page_updated date">{{ "Last Updated" | translate }}</th>
<th class="page_public emblem">{{ "Public?" | translate }}</th>
<th class="page_show emblem">{{ "Listed?" | translate }}</th>
<th class="page_author value">{{ "Author" | translate }}</th>
{{ trigger.call("manage_pages_column_header") }}
<th class="controls" colspan="2">{{ "Controls" | translate }}</th>
</tr>
</thead>
<tbody>
{% for page in pages.paginated %}
<tr id="page_{{ page.id }}" class="page">
<td class="page_title title main">
<a href="{{ page.url() }}">{{ page.title | striptags | oneof("[Untitled]" | translate) | truncate(40, "&hellip;", true) }}</a>
</td>
<td class="page_created date">
{{ page.created_at | dateformat }}
</td>
<td class="page_updated date">
{% if page.updated %}{{ page.updated_at | dateformat }}{% else %}<span class="sub">{{ "never" | translate }}</span>{% endif %}
</td>
<td class="page_public emblem">
{% if page.public %}
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="{{ 'yes' | translate }}">
{% endif %}
</td>
<td class="page_show emblem">
{% if page.show_in_list %}
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="{{ 'yes' | translate }}">
{% endif %}
</td>
<td class="page_author value">
{{ page.author.nick is defined ? page.author.nick : "" }}
</td>
{{ trigger.call("manage_pages_column", page) }}
<td class="controls">
{{ page.edit_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/edit.svg" alt="' ~ ('edit' | translate) ~ '">') }}
</td>
<td class="controls">
{{ page.delete_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/delete.svg" alt="' ~ ('delete' | translate) ~ '">') }}
</td>
</tr>
{% else %}
<tr>
<td class="placeholder">
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/failure.svg" alt="">
{{ "[None]" | translate }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% if pages.paginated is not empty and pages.pages > 1 %}
<div class="pagination">
<span class="pages">{{ "Page %d of %s" | translate | format(pages.page, pages.final_link(pages.pages)) }}</span>
{{ pages.prev_link }}
{{ pages.next_link }}
</div>
{% endif %}
{% endblock %}
