{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Manage Uploads" | translate }}{% endblock %}

{% block content %}
<form class="filters" action="{{ url('manage_uploads') }}" method="post" accept-charset="UTF-8" role="search">
<fieldset role="presentation">
<h3>{{ "Search&hellip;" | translate }}</h3>
<input class="text filter_text" type="text" name="search" value="{{ GET.search is defined ? GET.search | fix(true) : '' }}" id="search" aria-label="{{ 'Query' | translate | fix(true) }}">
<button type="submit">{{ "Search" | translate }}</button>
</fieldset>
</form>
<h2>{{ GET.search is defined ? "Search Results" | translate : "Uploads" | translate }}</h2>
<table>
<thead>
<tr class="head">
<th class="uploads_name name main">{{ "Name" | translate }}</th>
<th class="uploads_modified date">{{ "Last Modified" | translate }}</th>
<th class="uploads_size value">{{ "Size" | translate }}</th>
{{ trigger.call("manage_uploads_column_header") }}
<th class="controls" colspan="2">{{ "Controls" | translate }}</th>
</tr>
</thead>
<tbody>
{% for upload in uploads.paginated %}
<tr id="uploads_{{ loop.index }}" class="uploads">
<td class="uploads_name name main">
{{ upload.name | fix }}
</td>
<td class="uploads_modified value">
{{ upload.modified | dateformat("Y-m-d H:i:s") }}
</td>
<td class="uploads_size value">
{{ upload.size | filesizeformat }}
</td>
{{ trigger.call("manage_uploads_column", upload) }}
<td class="controls">
<a class="emblem" target="_blank" href="{{ upload.name | uploaded }}"><img src="{{ site.chyrp_url }}/admin/images/icons/view.svg" alt="{{ 'preview' | translate }}"></a></td>
<td class="controls">
<a class="emblem" href="{{ upload.name | download }}"><img src="{{ site.chyrp_url }}/admin/images/icons/download.svg" alt="{{ 'download' | translate }}"></a>
</td>
</tr>
{% else %}
<tr>
<td class="placeholder">
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/failure.svg" alt="">
{{ "No results" | translate }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% if uploads.paginated is not empty and uploads.pages > 1 %}
<div class="pagination">
<span class="pages">{{ "Page %d of %s" | translate | format(uploads.page, uploads.final_link(uploads.pages)) }}</span>
{{ uploads.prev_link }}
{{ uploads.next_link }}
</div>
{% endif %}
{% endblock %}
