{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Manage Uploads" | translate }}{% endblock %}

{% block content %}
<form class="filters" action="{{ url('manage_uploads') }}" method="post" accept-charset="UTF-8" role="search">
<fieldset role="presentation">
<label for="search">{{ "Search&hellip;" | translate }}</label>
<input class="text filter_text" type="text" name="search" value="{{ GET.search is defined ? GET.search | fix(true, true) : '' }}" id="search">
<button type="submit">{{ "Search" | translate }}</button>
{% if visitor.group.can("import_content") %}
<a href="{{ url('import') }}" class="button yay">
{{ icon_svg("add.svg") }}{{ "Add Files" | translate }}
</a>
{% endif %}
</fieldset>
</form>
<h2>{{ GET.search is defined ? "Search Results" | translate : "Uploads" | translate }}</h2>
<table class="interactive{{ uploads.paginated is empty ? ' empty' : '' }}">
<thead>
<tr class="head">
<th class="uploads_name filename main">{{ "Name" | translate }}</th>
<th class="uploads_modified date">{{ "Last Modified" | translate }}</th>
<th class="uploads_size value">{{ "Size" | translate }}</th>
<th class="uploads_type value">{{ "Type" | translate }}</th>
{{ trigger.call("manage_uploads_column_header") }}
<th class="controls" colspan="3">{{ "Controls" | translate }}</th>
</tr>
</thead>
<tbody>
{% for upload in uploads.paginated %}
<tr id="uploads_{{ loop.index }}" class="uploads">
<td class="uploads_name filename main">
{% if ["gif", "jpeg", "jpg", "png", "webp"] | contains(upload.type) %}
{{ upload.name | thumbnail("", false, ["max_width=70", "quality=60", "square=1"], "70px") }}
{% set file_url = site.chyrp_url ~ "/includes/thumbnail.php?file=" ~ (upload.name | url_encode) %}
{% elseif ["avif", "bmp", "heif", "tif", "tiff"] | contains(upload.type) %}
{{ icon_svg("image.svg", false, "placeholder") }}
{% set file_url = site.chyrp_url ~ "/includes/thumbnail.php?file=" ~ (upload.name | url_encode) %}
{% elseif ["aif", "aiff", "flac", "m4a", "mka", "mp3", "oga", "ogg", "wav"] | contains(upload.type) %}
{{ icon_svg("audio.svg", false, "placeholder") }}
{% set file_url = upload.name | uploaded %}
{% elseif ["3gp", "avi", "m4v", "mkv", "mov", "mp2", "mp4", "mpeg", "mpg", "ogv", "spx", "ts", "webm"] | contains(upload.type) %}
{{ icon_svg("video.svg", false, "placeholder") }}
{% set file_url = upload.name | uploaded %}
{% elseif ["7z", "bz2", "cab", "dmg", "gz", "iso", "rar", "tar", "udf", "zip"] | contains(upload.type) %}
{{ icon_svg("archive.svg", false, "placeholder") }}
{% set file_url = upload.name | download %}
{% else %}
{{ icon_svg("file.svg", false, "placeholder") }}
{% set file_url = upload.name | download %}
{% endif %}
<a target="_blank" href="{{ file_url }}">{{ upload.name | fix(false, true) }}</a>
</td>
<td class="uploads_modified value">
{{ upload.modified | time("Y-m-d H:i:s") }}
</td>
<td class="uploads_size value">
{{ upload.size | filesizeformat }}
</td>
<td class="uploads_type value">
{{ upload.type | upper }}
</td>
{{ trigger.call("manage_uploads_column", upload) }}
<td class="controls">
<a class="emblem" href="{{ upload.name | download }}">
{{ icon_svg("download.svg", "Download" | translate) }}
</a>
</td>
<td class="controls">
{%- if visitor.group.can("edit_upload") -%}
<a class="upload_edit_link edit_link emblem" href="{{ url('edit_upload/file/' ~ (upload.name | url_encode)) }}">
{{ icon_svg("edit.svg", "Edit" | translate) }}
</a>
{%- else -%}
{{ icon_svg("forbidden.svg", false, "emblem forbidden") }}
{%- endif -%}
</td>
<td class="controls">
{%- if visitor.group.can("delete_upload") -%}
<a class="upload_delete_link delete_link emblem" href="{{ url('delete_upload/file/' ~ (upload.name | url_encode)) }}">
{{ icon_svg("delete.svg", "Delete" | translate) }}
</a>
{%- else -%}
{{ icon_svg("forbidden.svg", false, "emblem forbidden") }}
{%- endif -%}
</td>
</tr>
{% else %}
<tr>
<td class="placeholder">
{{ icon_svg("failure.svg", false, "emblem") }}
{{ "No results" | translate }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
<div class="controls">
<form action="{{ self_url() }}" method="post" accept-charset="UTF-8">
<label for="uploads_sort">{{ "Sort results by:" | translate }}</label>
<select name="sort" id="uploads_sort">
{% for value, label in uploads_columns %}
<option value="{{ value }}"{{ value | selected(uploads_sort) }}>
{{ label }}
</option>
{% endfor %}
</select>
<button type="submit">{{ "Sort Results" | translate }}</button>
</form>
</div>
{% if uploads.paginated is not empty and uploads.pages > 1 %}
<div class="pagination">
<span class="pages">{{ "Page %d of %s" | translate | format(uploads.page, uploads.final_link(uploads.pages)) }}</span>
{{ uploads.prev_link }}
{{ uploads.next_link }}
</div>
{% endif %}
{% endblock %}
