{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Modules" | translate }}{% endblock %}

{% block content %}
<h2>{{ "Modules" | translate }}</h2>
<ul id="modules_enabled" class="extend modules">
<h5>{{ "Enabled" | translate }}</h5>
{% for safename, module in enabled_modules %}
<li class="module{{ module.classes is defined ? ' ' ~ module.classes | join(' ') : '' }}" id="module_{{ safename }}">
<h3>
<a class="emblem module_url" href="{{ module.url }}" target="_blank">
<img src="{{ site.chyrp_url }}/admin/images/icons/info.svg" alt="{{ 'info' | translate }}">
{{ module.name }}{# translation is done in the controller #}
</a>
</h3>
<p class="module_description">
{{ module.description }}{# translation is done in the controller #}
</p>
{% if module.conflicts is not empty %}
<h4 class="module_conflicts_message">
{{ "This module conflicts with the following modules:" | translate }}
</h4>
<ol class="module_conflicts_list">
{% for conflict in module.conflicts %}
<li class="{{ conflict }}">{{ conflict | camelize }}</li>
{% endfor %}
</ol>
{% endif %}
{% if module.dependencies is not empty %}
<h4 class="module_dependencies_message">
{{ "This module requires the following modules to be enabled:" | translate }}
</h4>
<ol class="module_dependencies_list">
{% for dependency in module.dependencies %}
<li class="{{ dependency }}">{{ dependency | camelize }}</li>
{% endfor %}
</ol>
{% endif %}
<div class="controls">
<form class="module_disabler" action="{{ url('disable') }}" method="post" accept-charset="UTF-8">
<input type="hidden" name="extension" value="{{ safename }}">
<input type="hidden" name="type" value="module">
<input type="hidden" name="hash" value="{{ authenticate() }}">
{% if module.confirm is not empty %}
<button name="confirm" value="1" type="submit" data-confirm="{{ module.confirm | fix(true) }}">
<img src="{{ site.chyrp_url }}/admin/images/icons/warning.svg" alt="">{{ "Uninstall" | translate }}
</button>
{% endif %}
<button type="submit">
<img src="{{ site.chyrp_url }}/admin/images/icons/deny.svg" alt="">{{ "Disable" | translate }}
</button>
</form>
</div>
</li>
{% endfor %}
</ul>
<ul id="modules_disabled" class="extend modules">
<h5>{{ "Disabled" | translate }}</h5>
{% for safename, module in disabled_modules %}
<li class="module{{ module.classes is defined ? ' ' ~ module.classes | join(' ') : '' }}" id="module_{{ safename }}">
<h3>
<a class="emblem module_url" href="{{ module.url }}" target="_blank">
<img src="{{ site.chyrp_url }}/admin/images/icons/info.svg" alt="{{ 'info' | translate }}">
{{ module.name }}{# translation is done in the controller #}
</a>
</h3>
<p class="module_description">
{{ module.description }}{# translation is done in the controller #}
</p>
{% if module.conflicts is not empty %}
<h4 class="module_conflicts_message">
{{ "This module conflicts with the following modules:" | translate }}
</h4>
<ol class="module_conflicts_list">
{% for conflict in module.conflicts %}
<li class="{{ conflict }}">{{ conflict | camelize }}</li>
{% endfor %}
</ol>
{% endif %}
{% if module.dependencies is not empty %}
<h4 class="module_dependencies_message">
{{ "This module requires the following modules to be enabled:" | translate }}
</h4>
<ol class="module_dependencies_list">
{% for dependency in module.dependencies %}
<li class="{{ dependency }}">{{ dependency | camelize }}</li>
{% endfor %}
</ol>
{% endif %}
{% if module.classes is defined and not (module.classes | contains("missing_dependency")) %}
<div class="controls">
<form class="module_enabler" action="{{ url('enable') }}" method="post" accept-charset="UTF-8">
<input type="hidden" name="extension" value="{{ safename }}">
<input type="hidden" name="type" value="module">
<input type="hidden" name="hash" value="{{ authenticate() }}">
<button type="submit">
<img src="{{ site.chyrp_url }}/admin/images/icons/add.svg" alt="">{{ "Enable" | translate }}
</button>
</form>
</div>
{% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}
