{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "New Group" | translate }}{% endblock %}

{% block content %}
<h1>{{ "New Group" | translate }}</h1>
<form id="new_group" class="split" action="{{ url('add_group') }}" method="post" accept-charset="UTF-8" data-toggler="group_toggler">
<fieldset role="presentation">
<p>
<label for="name">{{ "Name" | translate }}</label>
<input class="text" type="text" name="name" value="" id="name" maxlength="100" required>
</p>
<h2>{{ "Permissions" | translate }}</h2>
<p class="toggler" id="group_toggler">
</p>
<hr>
{% for permission in permissions %}
<p>
<label for="permission_{{ permission.id }}">{{ permission.name }}{# translation is done in Group #}</label>
<input class="checkbox" type="checkbox" name="permissions[{{ permission.id }}]" id="permission_{{ permission.id }}">
</p>
{% endfor %}
<p class="buttons">
<button type="submit" class="yay"><img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="">{{ "Add Group" | translate }}</button>
</p>
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
