{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Themes" | translate }}{% endblock %}

{% block content %}
<h2>{{ "Blog Themes" | translate }}</h2>
<ul id="blog_themes" class="extend themes">
{% for safename, theme in themes %}
<li class="theme{{ safename == site.theme ? ' current' : '' }}" id="{{ safename }}">
<img src="{{ site.chyrp_url ~ '/themes/' ~ safename ~ '/screenshot.png' }}" alt="&#8220;{{ theme.description | fix(true) }}&#8220;" class="screenshot" title="{{ theme.description | fix(true) }}">
<h3>
<a class="emblem module_author" href="{{ theme.url }}" target="_blank">
<img src="{{ site.chyrp_url }}/admin/images/icons/info.svg" alt="{{ theme.url | fix }}">
</a>
{{ theme.name }}{# translation is done in the controller #}
</h3>
<div class="controls">
<form action="{{ url('/?action=change_theme') }}" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
<input type="hidden" name="theme" value="{{ safename }}">
<input type="hidden" name="hash" value="{{ ip | token }}">
<button name="change" value="indubitably" type="submit"{{ safename == site.theme ? " disabled" : "" }}>
<img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="icon">{{ "Select" | translate }}
</button>
<button name="change" value="undecidedly"{{ safename == site.theme ? " disabled" : "" }}>
<img src="{{ site.chyrp_url }}/admin/images/icons/magnifier.svg" alt="icon">{{ "Preview" | translate }}
</button>
</form>
</div>
</li>
{% endfor %}
</ul>
{% endblock %}
