{% extends "content" ~ DIR ~ "post.twig" %}

{% block content %}
{% if post.title is not empty %}
<h2 class="post_title">
<a href="{{ post.url() }}" rel="bookmark" title="{{ 'Permanent link to &#8220;%s&#8221;' | translate | format(post.title | striptags | normalize | fix(true)) }}">{{ post.title }}</a>
</h2>
{% endif %}
<section class="photo">
{{ post.filename | thumbnail(post.alt_text, post.source, ["max_width=1280", "max_height=1920", "quality=80"], "(min-width: 1024px) 768px, 90vw") }}
</section>
{% if post.caption is not empty %}
<section class="caption">
{{ post.caption }}
</section>
{% endif %}
{% endblock %}
