{% extends "content" ~ DIR ~ "post.twig" %}

{% block content %}
{% if post.title is not empty %}
<h2 class="post_title">
<a href="{{ post.url() }}" rel="bookmark" title="{{ 'Permanent link to &#8220;%s&#8221;' | translate | format(post.title | striptags | normalize | fix(true)) }}">{{ post.title }}</a>
</h2>
{% endif %}
<section class="photo">
{{ feathers['photo'].image_link(post, 1024, 2048, "quality=80", "80vw") }}
</section>
{% if post.caption is not empty %}
<section class="caption{{ post.caption | length > 1000 ? ' longform' : '' }}">
{{ post.caption }}
</section>
{% endif %}
{% endblock %}
