{% extends "content" ~ DIR ~ "post.twig" %}

{% block content %}
{% if post.title is not empty %}
<h2 class="post_title">
<a href="{{ post.url() }}" rel="bookmark" title="{{ 'Permanent link to &#8220;%s&#8221;' | translate | format(post.title | striptags | normalize | fix(true)) }}">{{ post.title }}</a>
</h2>
{% endif %}
{% if post.caption is not empty %}
<section class="caption">
{{ post.caption }}
</section>
{% endif %}
{% for file in post.files %}
{% if ["jpg", "jpeg", "png", "gif", "webp", "avif"] | contains(file.type) %}
<section class="photo">
{{ file.name | thumbnail(file.name, post.source, ["max_width=1280", "max_height=1920", "quality=80"], "(min-width: 1024px) 768px, 90vw") }}
</section>
{% else %}
<section class="attachment">
{{ "File attachment:" | translate }}
&quot;<a href="{{ ['txt', 'htm', 'html', 'xhtml', 'dhtml', 'markdown', 'md'] | contains(file.type) ? file.name | uploaded : file.name | download }}">{{ file.name | fix | truncate(40, "&hellip;", true) }}</a>&quot; ({{ file.size | filesizeformat }})
</section>
{% endif %}
{% endfor %}
{% endblock %}
