{% extends "layout.twig" %}

{% block title %}{{ "Cache Settings" | translate("cacher") }}{% endblock %}

{% block content %}
<h1>{{ "Cache Settings" | translate("cacher") }}</h1>
<form id="cache_settings" class="split" action="{{ admin_url('cache_settings') }}" method="post">
<fieldset>
<p>
<label for="cache_expire">{{ "Expire Cache After&hellip;" | translate("cacher") }}</label>
<input class="text digits" type="number" name="cache_expire" value="{{ site.cache_expire | fix(true) }}" id="cache_expire"> <span class="sub">{{ "(seconds)" | translate("cacher") }}</span>
<small>
<a href="{{ admin_url('clear_cache', {'hash': ip | token }) }}">{{ "Clear the cache now!" | translate("cacher") }}</a>
</small>
</p>
<p>
<label for="cache_exclude">{{ "Exclude URLs" | translate("cacher") }}</label>
<textarea name="cache_exclude" id="cache_exclude" rows="12">{{ site.cache_exclude | join(", \n") | fix }}</textarea>
<small>
{{ "A comma separated list of URLs that will not be cached." | translate("cacher") }}
</small>
</p>
<p class="buttons">
<button type="submit" class="yay"><img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="success">{{ "Update" | translate }}</button>
</p>
<input type="hidden" name="hash" value="{{ ip | token }}" id="hash">
</fieldset>
</form>
{% endblock %}
