{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Cache Settings" | translate("cacher") }}{% endblock %}

{% block content %}
<h2>{{ "Cache Settings" | translate("cacher") }}</h2>
<form id="cache_settings" class="split" action="{{ url('cache_settings') }}" method="post" accept-charset="UTF-8">
<fieldset>
<p>
<label for="cache_expire">{{ "Expire Cache After&hellip;" | translate("cacher") }}</label>
<input class="text digits" type="number" name="cache_expire" value="{{ site.module_cacher.cache_expire | fix(true) }}" id="cache_expire">
<span class="sub">{{ "(seconds)" | translate("cacher") }}</span>
</p>
<p class="buttons">
<button name="clear_cache" value="undecidedly" type="submit" class="yay"><img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="icon">{{ "Update" | translate }}</button>
<button name="clear_cache" value="indubitably" class="boo">
<img src="{{ site.chyrp_url }}/admin/images/icons/delete.svg" alt="icon">{{ "Clear Cache" | translate("cacher") }}
</button>
</p>
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
