{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
<div class="lost_password standalone">
<h2>{{ "Lost password" | translate }}</h2>
<form action="{{ url('lost_password') }}" method="post" accept-charset="UTF-8">
<p class="lost_pass">{{ "Please enter your username below and we will email you a new password for your account." | translate }}</p>
<label for="login">{{ "Username" | translate }}</label>
<input type="text" name="login" value="{{ posted('login') | fix(true) }}" id="login" autofocus>
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
<div class="doaction">
<button name="submit" type="submit" id="submit">{{ "Submit" | translate }}</button>
</div>
</form>
</div>
{% endblock %}
