<li id="comment_{{ comment.id }}">
<section class="comment" dir="auto">
{% if comment.status == "pingback" %}
<h4>{{ "%s:" | translate | format(comment.author_link) }}</h4>
{% else %}
<h4>{{ "%s said:" | translate | format(comment.author_link) }}</h4>
{% endif %}
{% if comment.status == "denied" %}
<em>{{ "This comment is awaiting moderation." | translate }}</em>
{% else %}
{{ comment.body }}
{% endif %}
</section>
{% if comment.editable() or comment.deletable() %}
<div class="doaction">
{{ comment.edit_link() }} {{ comment.delete_link() }}
</div>
{% endif %}
<div class="metadata">
<a href="{{ comment.url() }}" class="permalink">
{{ comment.created_at | time }}
</a>
</div>
</li>
