{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Manage Comments" | translate("comments") }}{% endblock %}

{% block content %}
<form class="filters" action="{{ url('manage_comments') }}" method="post" accept-charset="UTF-8" role="search">
<fieldset role="presentation">
<h3>
{{ "Search&hellip;" | translate }}
<a href="{{ url('help/id/filtering_results') }}" rel="help" target="_blank" class="help emblem"><img src="{{ site.chyrp_url }}/admin/images/icons/help.svg" alt="{{ 'help' | translate }}"></a>
</h3>
<input class="text filter_text" type="text" name="query" value="{{ GET.query | fix(true) }}" id="query" aria-label="{{ 'Query' | translate | fix(true) }}">
<button type="submit" class="inline">{{ "Search" | translate }}</button>
</fieldset>
</form>
<h2>{{ GET.query is not empty ? "Search Results" | translate : "Comments" | translate("comments") }}</h2>
<form action="{{ url('bulk_comments') }}" method="post" accept-charset="UTF-8" data-toggler="comment_toggler">
<table class="interactive">
<thead>
<tr class="head">
<th class="toggler" id="comment_toggler"></th>
<th class="comment_post title main">{{ "Post" | translate("comments") }}</th>
<th class="comment_date date">{{ "Added" | translate("comments") }}</th>
<th class="comment_status status">{{ "Status" | translate("comments") }}</th>
{{ trigger.call("manage_comments_column_header") }}
<th class="controls" colspan="2">{{ "Controls" | translate }}</th>
</tr>
</thead>
<tbody>
{% for comment in comments.paginated %}
<tr id="comment_{{ comment.id }}" class="comment {{ comment.status }}">
<td rowspan="2" class="checkbox">
<input type="checkbox" name="comment[{{ comment.id }}]" value="" id="comment_checkbox_{{ comment.id }}" aria-label="{{ 'Select' | translate | fix(true) }}">
</td>
<td class="comment_post title main">
{% if not comment.post.no_results %}
<a href="{{ comment.post.url() }}#comment_{{ comment.id }}">
{{ comment.post.title() | striptags | oneof("[Untitled]" | translate) | truncate(40, "&hellip;", true) }}</a>
{% endif %}
<td class="comment_date date">
{{ comment.created_at | dateformat }}
</td>
<td class="comment_status status">
{{ comment.status | capitalize | translate("comments") }}
</td>
{{ trigger.call("manage_comments_column", comment) }}
<td class="controls">
{{ comment.edit_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/edit.svg" alt="' ~ ('edit' | translate) ~ '">') }}
</td>
<td class="controls">
{{ comment.delete_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/delete.svg" alt="' ~ ('delete' | translate) ~ '">') }}
</td>
</tr>
<tr class="comment_excerpt">
<td class="main" colspan="5">{{ comment.body | striptags | truncate(100, "&hellip;") }}</td>
</tr>
{% else %}
<tr>
<td class="placeholder">
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/failure.svg" alt="">
{{ "[None]" | translate }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% if visitor.group.can("edit_comment", "delete_comment") %}
<div class="controls">
<h4>{{ "With selected:" | translate("comments") }}</h4>
<button name="deny">
<img src="{{ site.chyrp_url }}/admin/images/icons/deny.svg" alt="">{{ "Deny" | translate("comments") }}
</button>
<button class="yay" name="approve">
<img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="">{{ "Approve" | translate("comments") }}
</button>
<button name="spam">
<img src="{{ site.chyrp_url }}/admin/images/icons/bug.svg" alt="">{{ "Mark as Spam" | translate("comments") }}
</button>
<button class="boo" name="delete">
<img src="{{ site.chyrp_url }}/admin/images/icons/delete.svg" alt="">{{ "Delete" | translate("comments") }}
</button>
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</div>
{% endif %}
</form>
{% if comments.paginated is not empty and comments.pages > 1 %}
<div class="pagination">
<span class="pages">{{ "Page %d of %s" | translate | format(comments.page, comments.final_link(comments.pages)) }}</span>
{{ comments.prev_link }}
{{ comments.next_link }}
</div>
{% endif %}
{% endblock %}
