{% extends "layouts" ~ DIR ~ "help.twig" %}

{% block title %}{{ "Injector Labels" | translate("inject") }}{% endblock %}

{% block content %}
<h1>{{ "Injector Labels" | translate("inject") }}</h1>
<p>
{{ "Each injector must have a label. The label has two purposes: firstly, it helps you to manage your injectors by giving each one a label that is memorable and descriptive. Secondly, for filter injectors only, the label identifies the content to be injected into the post or page." | translate("inject") }}
</p>
<p>
{{ "For example, if you create an injector of the type <strong>post filter</strong> or <strong>page filter</strong> and label it <code>foobar</code>, you must insert the following comment into the text of a post or page in the position where you want to inject the content:" | translate("inject") }}
</p>
<pre><code>&lt;!--inject foobar--&gt;</code></pre>
<p>
{{ "If you create an injector of the type <strong>Twig filter</strong> and label it <code>foobar</code>, you must insert the following expression in a Twig template in the position where you want to inject the content:" | translate("inject") }}
</p>
<pre><code>{{ "{{" }} "foobar" | inject {{ "}}" }}</code></pre>
{% endblock %}
