{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Delete Tag?" | translate("tags") }}{% endblock %}

{% block content %}
<h1>{{ "Delete Tag?" | translate("tags") }}</h1>
<p>
{{ "Are you sure you want to delete the tag &#8220;%s&#8221;?" | translate("tags") | format(tag.name) }}
</p>
<form class="delete" action="{{ url('destroy_tag') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
<div class="confirmation">
<button name="destroy" value="indubitably" class="boo">
<img src="{{ site.chyrp_url }}/admin/images/icons/delete.svg" alt="">{{ "Delete!" | translate }}
</button>
<button name="destroy" value="undecidedly" type="submit" class="yay">
<img src="{{ site.chyrp_url }}/admin/images/icons/cancel.svg" alt="">{{ "Cancel" | translate }}
</button>
</div>
<input type="hidden" name="name" value="{{ tag.name | fix(true) }}" id="name">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
