{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Edit Tags" | translate("tags") }}{% endblock %}

{% block content %}
<h2>{{ "Editing Tags for &#8220;%s&#8221;" | translate("tags") | format(post.title() | striptags | oneof("[Untitled]" | translate)) }}</h2>
<form class="split" action="{{ url('update_tags') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
<p>
<label for="tags">{{ "Tags" | translate("tags") }}</label>
<input type="text" name="tags" value="{{ post.tags | keys | join(', ') | fix(true, true) }}" id="tags">
</p>
<p class="buttons">
<button type="submit" class="yay">
<img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt=""> {{ "Update" | translate }}
</button>
</p>
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
<input type="hidden" name="id" value="{{ post.id }}" id="clean">
</fieldset>
</form>
{% endblock %}
