{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Manage Tags" | translate("tags") }}{% endblock %}

{% block content %}
<form class="filters" action="{{ url('manage_tags') }}" method="post" accept-charset="UTF-8" role="search">
<fieldset role="presentation">
<label for="search">{{ "Search&hellip;" | translate }}</label>
<input class="text filter_text" type="text" name="search" value="{{ GET.search is defined ? GET.search | fix(true, true) : '' }}" id="search">
<button type="submit">{{ "Search" | translate }}</button>
{% if visitor.group.can("edit_draft", "edit_post", "delete_draft", "delete_post") %}
<a href="{{ url('posts_tagged') }}" class="button yay">
<img src="{{ site.chyrp_url }}/admin/images/icons/add.svg" alt="">{{ "New Tag" | translate }}
</a>
{% endif %}
</fieldset>
</form>
<h2>{{ "Tags" | translate("tags") }}</h2>
<table>
<thead> 
<tr class="head">
<th class="tag_name name main">{{ "Name" | translate("tags") }}</th>
<th class="tag_count value">{{ "Posts Tagged" | translate("tags") }}</th>
<th class="controls" colspan="2">{{ "Controls" | translate }}</th>
</tr>   
</thead>
<tbody> 
{% for tag in tag_cloud %}
<tr>
<td class="tag_name name main">
<a class="tag" href="{{ url('posts_tagged/clean/' ~ (tag.clean | url_encode)) }}" title="{{ tag.title }}">{{ tag.name }}</a>
</td>
<td class="tag_count value">
<a href="{{ tag.url }}">{{ tag.popularity }}</a>
</td>
<td class="controls">
{% if visitor.group.can("edit_post") %}
<a class="tag_edit_link edit_link emblem" href="{{ url('rename_tag/clean/' ~ (tag.clean | url_encode)) }}"><img src="{{ site.chyrp_url }}/admin/images/icons/edit.svg" alt="{{ 'edit' | translate }}"></a>
{% endif %}
</td>
<td class="controls">
{% if visitor.group.can("edit_post") %}
<a class="tag_delete_link delete_link emblem" href="{{ url('delete_tag/clean/' ~ (tag.clean | url_encode)) }}"><img src="{{ site.chyrp_url }}/admin/images/icons/delete.svg" alt="{{ 'delete' | translate }}"></a>
{% endif %}
</td>
</tr>
{% else %}
<tr>
<td class="placeholder">
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/failure.svg" alt="">
{{ "No results" | translate }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
