{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Rename Tag" | translate("tags") }}{% endblock %}

{% block content %}
<h2>{{ "Renaming Tag &#8220;%s&#8221;" | translate("tags") | format(tag.name) }}</h2>
<form class="split" action="{{ url('update_tag') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
<p>
<label for="name">{{ "Name" | translate("tags") }}</label>
<input type="text" name="name" value="{{ tag.name | fix(true, true) }}" id="name" required>
</p>
<p class="buttons">
<button type="submit" class="yay">
<img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt=""> {{ "Rename" | translate("tags") }}
</button>
</p>
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
<input type="hidden" name="original" value="{{ tag.name | fix(true) }}" id="original">
</fieldset>
</form>
{% endblock %}
