{% extends "content" ~ DIR ~ "post.twig" %}

{% block content %}
{% if post.title is not empty %}
<header>
<h2>
<a href="{{ post.url() }}" rel="bookmark" title="{{ 'Permanent link to &#8220;%s&#8221;' | translate | format(post.title | striptags | normalize | fix(true)) }}">{{ post.title }}</a>
</h2>
<h3>
<a href="{{ url('author/' ~ post.author.id) }}">{{ "Written by %s" | translate | format(post.author.name) }}</a>
</h3>
</header>
{% endif %}
<section class="quote" aria-label="{{ 'Text Content' | translate }}">
<figure>
<blockquote>
{{ post.quote }}
</blockquote>
{% if post.source is not empty %}
<figcaption>
{{ post.source }}
</figcaption>
{% endif %}
</figure>
</section>
{% endblock %}
