<form id="post_edit_form_{{ post.id }}" class="inline_edit post_edit" action="{{ admin_url('update_post') }}" method="post" accept-charset="utf-8" enctype="multipart/form-data">
<fieldset>
{{ trigger.call("before_ajax_edit_post_fields", feather) }}
{% for field in feather.fields %}
<label for="{{ field.attr }}_field_{{ post.id }}">
{{ field.label }}
{% if field.optional is defined and field.optional %}
<span class="sub">{{ "(optional)" | translate }}</span>
{% endif %}
</label>
{% if field.type == "text" %}
<input id="{{ field.attr }}_field_{{ post.id }}" class="text" type="text" name="{{ field.attr }}"{{ field.preview is defined ? ' data-preview="'~field.preview~'"' : '' }} value="{{ field.value is defined ? field.value : attribute(post, field.attr) is defined ? attribute(post, field.attr) : '' }}">
{% elseif field.type == "file" %}
<input id="{{ field.attr }}_field_{{ post.id }}" class="file" type="file"{{ field.multiple is defined and field.multiple ? ' name="' ~ field.attr ~ '[]" multiple' : ' name="' ~ field.attr ~ '"'}} value="">
{% elseif field.type == "text_block" %}
<textarea id="{{ field.attr }}_field_{{ post.id }}" name="{{ field.attr }}" rows="12">{{ field.value is defined ? field.value : attribute(post, field.attr) is defined ? attribute(post, field.attr) : ""}}</textarea>
{% elseif field.type == "checkbox" %}
<input id="{{ field.attr }}_field_{{ post.id }}" class="{{ field.type }}" type="checkbox" name="{{ field.attr }}"{{ field.checked | checked }}>
{% elseif field.type == "select" %}
<select id="{{ field.attr }}_field_{{ post.id }}" name="{{ field.attr }}">
{% for value, name in field.options %}
<option value="{{ value | fix }}"{{ attribute(post, field.attr) is defined ? value | selected(attribute(post, field.attr)) : "" }}>{{ name | fix }}</option>
{% endfor %}
</select>
{% endif %}
{% endfor %}
<a id="more_options_link_{{ post.id }}" href="#" class="more_options_link">{{ "More Options &darr;" | translate("chyrp") }}</a>
<div id="more_options_{{ post.id }}" class="more_options" style="display: none">
{% if visitor.group.can("add_post") %}
<label for="status_{{ post.id }}">{{ "Status" | translate }}</label>
<select id="status_{{ post.id }}" name="status">
<option value="draft"{{ post.status | selected("draft") }}>{{ "Draft" | translate }}</option>
<option value="public"{{ post.status | selected("public") }}>{{ "Public" | translate }}</option>
<option value="private"{{ post.status | selected("private") }}>{{ "Private" | translate }}</option>
<option value="registered_only"{{ post.status | selected("registered_only") }}>{{ "Registered Only" | translate }}</option>
{% if groups is defined and groups is not empty %}
<optgroup label="{{ "Group" | translate }}">
{% for group in groups %}
<option value="{{ '{' ~ group.id ~ '}' }}"{{ post.status | selected("{" ~ group.id ~ "}") }}>{{ group.name | fix }}</option>
{% endfor %}
</optgroup>
{% endif %}
</select>
{% endif %}
<label for="pinned_{{ post.id }}">{{ "Pinned?" | translate }}</label>
<input id="pinned_{{ post.id }}" type="checkbox" name="pinned"{{ post.pinned | checked }}>
<small>{{ "(shows this post above all others)" | translate }}</small>
<label for="slug_{{ post.id }}">{{ "Slug" | translate }}</label>
<input id="slug_{{ post.id }}" class="text" type="text" name="slug" value="{{ post.slug | fix }}">
<label for="created_at_{{ post.id }}">{{ "Timestamp" | translate }}</label>
<input id="created_at_{{ post.id }}" class="text" type="text" name="created_at" value="{{ post.created_at is not empty ? post.created_at : now | date('r') | strftimeformat }}">
<input type="hidden" name="original_time" value="{{ post.created_at is not empty ? post.created_at : now | date('r') | strftimeformat }}">
{% for field in options %}
<label for="{{ field.attr | replace({'[': '_', ']': ''}) }}_field_{{ post.id }}">
{{ field.label }}
{% if field.note is defined %}
<span class="sub">{{ field.note }}</span>
{% endif %}
</label>
{% if field.type == "text" %}
<input id="{{ field.attr | replace({'[': '_', ']': ''}) }}_field_{{ post.id }}" class="text" type="text" name="{{ field.attr }}" value="{{ field.value is defined ? field.value : attribute(post, field.attr) is defined ? attribute(post, field.attr) : '' }}">
{% elseif field.type == "file" %}
<input id="{{ field.attr | replace({'[': '_', ']': ''}) }}_field_{{ post.id }}" class="file" type="file" {{ field.multiple is defined and field.multiple ? ' name="' ~ field.attr ~ '[]" multiple' : ' name="' ~ field.attr ~ '"'}} value="">
{% elseif field.type == "text_block" %}
<textarea id="{{ field.attr | replace({'[': '_', ']': ''}) }}_field_{{ post.id }}" name="{{ field.attr }}" rows="12">{{ field.value is defined ? field.value : attribute(post, field.attr) is defined ? attribute(post, field.attr) : "" }}</textarea>
{% elseif field.type == "checkbox" %}
<input id="{{ field.attr | replace({'[': '_', ']': ''}) }}_field_{{ post.id }}" class="{{ field.type }}" type="checkbox" name="{{ field.attr }}"{{ field.checked | checked }}>
{% elseif field.type == "select" %}
<select id="{{ field.attr | replace({'[': '_', ']': ''}) }}_field_{{ post.id }}" name="{{ field.attr }}">
{% for option in field.options %}
<option value="{{ option.value | fix }}"{{ option.selected | selected(true) }}>{{ option.name | fix }}</option>
{% endfor %}
</select>
{% endif %}
{% if field.extra is defined %}
{{ field.extra }}
{% endif %}
{% endfor %}
</div>
<div class="doaction admin">
<button type="submit" accesskey="s">{{ "Save" | translate }}</button>
<a href="#" id="post_cancel_edit_{{ post.id }}" class="cancel">{{ "Cancel" | translate }}</a>
</div>
<input type="hidden" name="id" value="{{ post.id }}" id="id">
<input type="hidden" name="feather" value="{{ post.feather | fix }}" id="feather">
<input type="hidden" name="hash" value="{{ ip | token }}" id="hash">
<input type="hidden" name="ajax" value="true" id="ajax">
</fieldset>
</form>