{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
{% if posts.paginated is not empty or pages is not empty %}
<div class="ribbon">
<h3 role="status" class="ribbon">{{ "Search results for &#8220;%s&#8221;" | translate | format(search | fix) }}</h3>
</div>
{% else %}
<div class="ribbon flash">
<h3 role="status" class="ribbon">{{ "Your search did not return any results." | translate }}</h3>
</div>
{% endif %}
{% for post in posts.paginated %}
{% include(["feathers" ~ DIR ~ post.feather ~ ".twig", "feathers" ~ DIR ~ "missing.twig"]) %}
{% endfor %}
{% if posts.paginated is not empty and pages is not empty %}
<div class="ribbon">
<h3 class="ribbon">{{ "Pages" | translate }}</h3>
</div>
{% endif %}
{% for page in pages %}
<article id="page_{{ page.id }}" class="page"> 
<h2>
<a href="{{ page.url() }}" rel="bookmark" title="{{ 'Permanent link to &#8220;%s&#8221;' | translate | format(page.title | striptags | normalize | fix(true)) }}">{{ page.title }}</a>
</h2>
<section>
{{ page.body | striptags | truncate(200, "&hellip;") }}
</section>
</article>
{% endfor %}
{% endblock %}
