{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
{% if tag_cloud is not empty %}
<div class="tag_cloud standalone">
<h2>{{ "Tag cloud" | translate }}</h2>
<style type="text/css" nonce="{{ tag_nonce }}">
{% for tag in tag_cloud %}
a.tag.tag-{{ tag.clean }} {
font-size: {{ tag.size + 100 }}%;
}
{% endfor %}
</style>
{% for tag in tag_cloud %}
<a class="tag tag-{{ tag.clean }}" href="{{ tag.url }}" title="{{ tag.title }}">{{ tag.name }}</a>
{% endfor %}
</div>
{% else %}
<div class="ribbon">
<h3 class="ribbon">{{ "Nothing here yet!" | translate }}</h3>
</div>
{% endif %}
{% endblock %}
