<table>
<tbody>
{% for upload in uploads %}
<tr id="uploads_{{ loop.index }}" class="uploads">
<td class="uploads_name filename main">
{% if ["jpg", "jpeg", "png", "gif", "webp"] | contains(upload.type) %}
{{ upload.name | thumbnail("", false, ["max_width=70", "quality=60", "square=1"], "70px") }}
{% set file_url = site.chyrp_url ~ "/includes/thumbnail.php?file=" ~ (upload.name | url_encode) %}
{% elseif ["avif", "tif", "tiff", "bmp"] | contains(upload.type) %}
{{ icon_img("image.svg", "", "placeholder") }}
{% set file_url = site.chyrp_url ~ "/includes/thumbnail.php?file=" ~ (upload.name | url_encode) %}
{% elseif ["mp3", "m4a", "oga", "ogg", "mka", "flac", "wav"] | contains(upload.type) %}
{{ icon_img("audio.svg", "", "placeholder") }}
{% set file_url = upload.name | uploaded %}
{% elseif ["mp4", "ogv", "webm", "3gp", "mkv", "mov"] | contains(upload.type) %}
{{ icon_img("video.svg", "", "placeholder") }}
{% set file_url = upload.name | uploaded %}
{% else %}
{{ icon_img("file.svg", "", "placeholder") }}
{% set file_url = upload.name | download %}
{% endif %}
<a href="{{ file_url }}">{{ upload.name | fix }}</a>
</td>
</tr>
{% else %}
<tr>
<td class="placeholder">
{{ icon_img("failure.svg", "", "emblem") }} {{ "No results" | translate }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
