{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Syntax Highlighting Settings" | translate("highlighter") }}{% endblock %}

{% block content %}
<h2>{{ "Syntax Highlighting Settings" | translate("highlighter") }}</h2>
<form id="highlighter_settings" class="split" action="{{ url('highlighter_settings') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
<p>
<label for="highlighter_stylesheet">{{ "Stylesheet" | translate("highlighter") }}</label>
{#- -#}
<select name="stylesheet" id="highlighter_stylesheet">
{% for filename in highlighter_stylesheets %}
{% set option_selected = filename | selected(site.module_highlighter.stylesheet) %}
<option value="{{ filename | fix(true) }}"{{ option_selected }}>
{{ filename | preg_replace("/(.+?)(\\.min)?\\.css$/i", "$1") }}
</option>
{% endfor %}
</select>
</p>
<p>
<label for="copy_to_clipboard">{{ "Copy Button" | translate("highlighter") }}</label>
{#- -#}
<input type="checkbox" class="checkbox" name="copy_to_clipboard"  id="copy_to_clipboard"{{ site.module_highlighter.copy_to_clipboard | checked }}>
<small>{{ "Add a button for copying to the clipboard." | translate("highlighter") }}</small>
</p>
<p class="buttons">
<button type="submit" class="yay">
{{ "Update" | translate }}
</button>
</p>
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
