{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Like Settings" | translate("likes") }}{% endblock %}

{% block content %}
<h2>{{ "Like Settings" | translate("likes") }}</h2>
<form id="like_settings" class="split" action="{{ url('like_settings') }}" method="post">
<fieldset>
<p>
<label for="like_image">{{ "Like Button Image" | translate("likes") }}</label>
<select name="like_image" onchange="$('#like_image_preview').attr('src', $(this).val());">
{% for filename, filepath in like_images %}
{% set option_selected = filepath | selected(site.module_likes.like_image) %}
<option value="{{ filepath | fix(true) }}"{{ option_selected }}>{{ filename | split(".") | first | camelize(true) }}</option>
{% endfor %}
</select>
<img id="like_image_preview" src="{{ site.module_likes.like_image }}" alt="{{ 'Likes Image' | translate('likes') }}">
</p>
<p>
<label for="like_with_text">{{ "Like With Text" | translate("likes") }}</label>
<input type="checkbox" class="checkbox" name="like_with_text"{{ site.module_likes.like_with_text | checked }}>
<small>{{ "Enables text descriptions in like/unlike links." | translate("likes") }}</small>
</p>
<p>
<label for="show_on_index">{{ "Show On Index Pages" | translate("likes") }}</label>
<input type="checkbox" class="checkbox" name="show_on_index"{{ site.module_likes.show_on_index | checked }}>
<small>{{ "Enables like functionality on blog index pages." | translate("likes") }}</small>
</p>
<p class="buttons">
<button type="submit" class="yay"><img src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="icon">{{ "Update" | translate }}</button>
</p>
<input type="hidden" name="hash" value="{{ ip | token }}" id="hash">
</fieldset>
</form>
{% endblock %}
