{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}
<h2>{{ "Reset password" | translate }}</h2>
<form action="{{ url('reset_password') }}" method="post" accept-charset="UTF-8">
<label for="new_password1">{{ "New password?" | translate }}</label>
<input type="password" name="new_password1" value="" id="new_password1" maxlength="128">
<label for="new_password2">{{ "Confirm" | translate }}</label>
<input type="password" name="new_password2" value="" id="new_password2" maxlength="128">
<input type="hidden" name="issue" value="{{ issue | fix(true) }}" id="issue">
<input type="hidden" name="login" value="{{ login | fix(true) }}" id="login">
<input type="hidden" name="token" value="{{ token | fix(true) }}" id="token">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
<div class="doaction">
<button name="submit" type="submit" id="submit">{{ "Submit" | translate }}</button>
</div>
</form>
{% endblock %}
