{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block content %}

{# List? (For all/yearly archives) #}
{% if months is not empty %}
<div class="archive standalone">
{% for timestamp, month in months %}
<h3 id="label_{{ timestamp }}_archive" class="archive">
<a href="{{ url('archive/%s/') | format(timestamp | strftimeformat('%Y/%m')) }}">
{{ timestamp | strftimeformat("%B %Y" | translate) }}
</a>
</h3>
<ul aria-labelledby="label_{{ timestamp }}_archive" class="archive{{ archive.depth == 'year' ? ' yearly' : '' }}">
{% for post in month %}
<li>
{% if archive.depth == "year" %}
<article class="post archive {{ post.feather }}" id="post_{{ post.id }}">
{% if post.title is not empty and post.feather != "photo" %}
<h4 class="yearly">{{ post.title | striptags | normalize | truncate(20) }}</h4>
{% endif %}
{% if post.feather == "photo" %}
{{ feathers['photo'].image_tag(post, 222, null, "quality=60&amp;square=1", "20vw") }}
{% else %}
<p>{{ post.excerpt() | striptags | normalize }}</p>
{% endif %}
<a href="{{ post.url() }}" class="archive_post_link">
{{ "Permanent link to &#8220;%s&#8221;" | translate | format(post.title() | oneof(post.slug) | striptags | normalize | fix(true)) }}
</a>
</article>
{% else %}
<a href="{{ post.url() }}">
<h4>{{ post.title() | oneof(post.slug) | striptags | normalize | truncate(80) }}</h4>
</a>
{% endif %}
</li>
{% endfor %}
</ul>
<div class="clear"></div>
{% endfor %}
</div>
{% if archive.preceding is not empty %}
{# Link to a previous year if we found a post preceding this archive #}
<div role="navigation" class="next traversal">
<a href="{{ url('archive/%s/') | format(archive.preceding | strftimeformat('%Y')) }}">
{{ "Archive of %s &rarr;" | translate | format(archive.preceding | strftimeformat("%Y")) }}
</a>
</div>
{% endif %}
{% endif %}

{# Posts? (For daily/monthly archives) #}
{% if posts.paginated is not empty %}
<h3 role="status" class="filter">{{ title }}</h3>
{% for post in posts.paginated %}
{% include "feathers" ~ DIR ~ post.feather ~ ".twig" %}
{% endfor %}
{% endif %}

{# No results #}
{% if months is empty and posts.paginated is empty %}
<h3 role="status" class="filter">{{ "There aren't any posts in the timeframe you specified." | translate }}</h3>
{% endif %}

{% endblock %}
