{% extends "layouts/default.twig" %}

{% block content %}
{% if not post.prev.no_results %}
<div role="navigation" class="prev traversal">
<a href="{{ post.prev.grab_url }}">{{ ( "&larr; Next post" | translate ) }}</a>
</div>
{% endif %}
{% include "feathers/" ~ post.feather ~ ".twig" %}
{% if not post.next.no_results %}
<div role="navigation" class="next traversal">
<a href="{{ post.next.grab_url }}">{{ ( "Previous post &rarr;" | translate ) }}</a>
</div>
{% endif %}
{% if module_enabled("comments") and (post.comment_count > 0 or post.commentable) %}
<article role="complementary" class="commentary">
<ol id="comments" class="comments" data-post="{{ post.id }}" data-timestamp="{{ post.latest_comment }}">
{% for comment in post.comments %}
{% include "content/comment.twig" %}
{% endfor %}
<li id="comment_shim"></li> {# Needed for AJAX commenting. #}
{% if post.commentable %}
<li class="comment_form">
{% include "forms/comment/new.twig" %}
</li>
{% endif %}
</ol>
</article>
{% endif %}
{% endblock %}
