{% extends "layouts" ~ DIR ~ "help.twig" %}

{% block title %}{{ "Canonical URL" | translate }}{% endblock %}

{% block content %}
<h1>{{ "Canonical URL" | translate }}</h1>
<p>
{{ "If you enter a canonical URL, your site URLs will point someplace other than your install directory. You can use this feature to have Chyrp Lite installed in its own dedicated directory on your web server and still have your site accessible at your choice of destination directory. There are two requirements for this to work:" | translate }}
</p>
<ol>
<li>
{{ "Create an <em>index.php</em> file in your destination directory with the following in it:" | translate }}
<pre><code>&lt;?php
    require "filesystem/path/to/chyrp/index.php";
</code></pre>
</li>
<li>
{{ "Modify your URL rewrite directives to reflect the new destination directory." | translate }}
</li>
</ol>
{% endblock %}
