{% extends "layouts" ~ DIR ~ "help.twig" %}

{% block title %}{{ "Filtering Results" | translate }}{% endblock %}

{% block content %}
<h1>{{ "Filtering Results" | translate }}</h1>
<p>
{{ "Use this search field to filter for specific items by entering plain text or keywords." | translate }}
</p>
<h2>{{ "Keywords" | translate }}</h2>
<p>
{{ "Use the syntax <code>keyword:value;</code> to quickly match specific results where <code>keyword</code> is equal to <code>value</code>. The keyword can be the name of a database column, the name of an author or a group, or a date/time. For example: <code>author:Foo;year:2016;</code> would filter the posts table to display only posts created by Foo in 2016." | translate }}
</p>
{% endblock %}
