{% extends "layouts" ~ DIR ~ "help.twig" %}

{% block title %}{{ "Uploads Manifest" | translate }}{% endblock %}

{% block content %}
<h1>{{ "Uploads Manifest" | translate }}</h1>
<table>
<thead>
<tr>
<th>{{ "Filename" | translate }}</th>
</tr>
</thead>
<tbody>
{% for filename in uploaded_search() %}
<tr>
<td>
<a target="_blank" href="{{ filename | uploaded }}">{{ filename | fix }}</a>
</td>
</tr>
{% else %}
<tr>
<td>
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/failure.svg" alt="">
{{ "[None]" | translate }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
