{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Delete Webmention?" | translate("pingable") }}{% endblock %}

{% block content %}
<h2>{{ "Delete Webmention?" | translate("pingable") }}</h2>
<p>
{{ "&#8220;%s&#8221; will be permanently deleted." | translate("pingable") | format(pingback.title | oneof("[Untitled]" | translate)) }}
</p>
<form class="delete" action="{{ url('destroy_pingback') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
<div class="confirmation">
<button name="destroy" value="indubitably" class="boo">
<img src="{{ site.chyrp_url }}/admin/images/icons/destroy.svg" alt="">{{ "Delete!" | translate }}
</button>
<button name="destroy" value="undecidedly" type="submit" class="yay">
<img src="{{ site.chyrp_url }}/admin/images/icons/cancel.svg" alt="">{{ "Cancel" | translate }}
</button>
</div>
<input type="hidden" name="id" value="{{ pingback.id }}" id="id">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
