{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Manage Pingbacks" | translate("pingable") }}{% endblock %}

{% block content %}
<form class="filters" action="{{ url('manage_pingbacks') }}" method="post" accept-charset="UTF-8" role="search">
<fieldset role="presentation">
<h3>
{{ "Search&hellip;" | translate }}
<a href="{{ url('help/id/filtering_results') }}" rel="help" target="_blank" class="help emblem"><img src="{{ site.chyrp_url }}/admin/images/icons/help.svg" alt="{{ 'help' | translate }}"></a>
</h3>
<input class="text filter_text" type="text" name="query" value="{{ GET.query | fix(true) }}" id="query" aria-label="{{ 'Query' | translate | fix(true) }}">
<button type="submit" class="inline">{{ "Search" | translate }}</button>
</fieldset>
</form>
<h2>{{ GET.query is not empty ? "Search Results" | translate : "Pingbacks" | translate("pingable") }}</h2>
<table class="interactive">
<thead>
<tr class="head">
<th class="pingback_source title main">{{ "Source" | translate("pingable") }}</th>
<th class="pingback_post title">{{ "Post" | translate("pingable") }}</th>
<th class="pingback_date date">{{ "Added" | translate("pingable") }}</th>
{{ trigger.call("manage_pingbacks_column_header") }}
<th class="controls" colspan="2">{{ "Controls" | translate }}</th>
</tr>
</thead>
<tbody>
{% for pingback in pingbacks.paginated %}
<tr id="pingback_{{ pingback.id }}" class="pingback">
<td class="pingback_source title main">
<a href="{{ pingback.source | fix(true) }}">
{{ pingback.title | oneof("[Untitled]" | translate) | truncate(40, "&hellip;", true) }}</a>
</td>
<td class="pingback_post title">
{% if not pingback.post.no_results %}
<a href="{{ pingback.post.url() }}#pingback_{{ pingback.id }}">
{{ pingback.post.title() | striptags | oneof("[Untitled]" | translate) | truncate(40, "&hellip;", true) }}</a>
{% endif %}
</td>
<td class="pingback_date date">
{{ pingback.created_at | dateformat }}
</td>
{{ trigger.call("manage_pingbacks_column", pingback) }}
<td class="controls">
{{ pingback.edit_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/edit.svg" alt="' ~ ('edit' | translate) ~ '">') }}
</td>
<td class="controls">
{{ pingback.delete_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/delete.svg" alt="' ~ ('delete' | translate) ~ '">') }}
</td>
</tr>
{% else %}
<tr>
<td class="placeholder">
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/failure.svg" alt="">
{{ "[None]" | translate }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% if pingbacks.paginated is not empty and pingbacks.pages > 1 %}
<div class="pagination">
<span class="pages">{{ "Page %d of %s" | translate | format(pingbacks.page, pingbacks.final_link(pingbacks.pages)) }}</span>
{{ pingbacks.prev_link }}
{{ pingbacks.next_link }}
</div>
{% endif %}
{% endblock %}
