{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Delete Category?" | translate("categorize") }}{% endblock %}

{% block content %}
<h1>{{ "Delete Category?" | translate("categorize") }}</h1>
<p>
{{ "Are you sure you want to delete the category &#8220;%s&#8221;?" | translate("categorize") | format(category.name | oneof("[Untitled]" | translate)) }}
</p>
<form class="delete" action="{{ url('destroy_category') }}" method="post" accept-charset="UTF-8">
<fieldset role="presentation">
<div class="confirmation">
<button name="destroy" value="indubitably" class="boo">
<img src="{{ site.chyrp_url }}/admin/images/icons/delete.svg" alt="">{{ "Delete!" | translate }}
</button>
<button name="destroy" value="undecidedly" type="submit" class="yay">
<img src="{{ site.chyrp_url }}/admin/images/icons/cancel.svg" alt="">{{ "Cancel" | translate }}
</button>
</div>
<input type="hidden" name="id" value="{{ category.id }}" id="id">
<input type="hidden" name="hash" value="{{ authenticate() }}" id="hash">
</fieldset>
</form>
{% endblock %}
