{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Manage Categories" | translate("categorize") }}{% endblock %}

{% block content %}
<form class="filters" action="{{ url('/') }}" method="get" accept-charset="UTF-8">
<fieldset>
<input type="hidden" name="action" value="manage_category">
<div role="search" class="filter_item">
<h3>
{{ "Search&hellip;" | translate }}
<a href="{{ url('/?action=help&amp;id=filtering_results') }}" target="_blank" class="help emblem"><img src="{{ site.chyrp_url }}/admin/images/icons/help.svg" alt="help"></a>
</h3>
<input class="text filter_text" type="text" name="query" value="{{ GET.query | fix(true) }}" id="query">
<button type="submit">{{ "Search" | translate }}</button>
<a href="{{ url('/?action=new_category') }}" class="button yay"> 
<img src="{{ site.chyrp_url }}/admin/images/icons/add.svg" alt="icon">{{ "Add Category" | translate("categorize") }}
</a>
</div>
</fieldset>
</form>

<h2>{{ GET.query is not empty ? "Search Results" | translate : "Manage Categories" | translate("categorize") }}</h2>
<table>
<thead> 
<tr class="head">
<th class="category_show emblem">{{ "Listed?" | translate("categorize") }}</th>
<th class="category_name name">{{ "Name" | translate("categorize") }}</th>
<th class="category_count value">{{ "Posts" | translate("categorize") }}</th>
{{ trigger.call("manage_comments_column_header") }}
<th class="controls" colspan="2">{{ "Controls" | translate }}</th>
</tr>   
</thead>
<tbody> 
{% for category in categorize %}
<tr id="category_{{ category.id }}">
<td class="category_show emblem">
{% if category.show_on_home %}<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="{{ 'yes' | translate }}">
{% else %}&nbsp;
{% endif %}
</td>
<td class="category_name name main">
<a href="{{ category.url }}">{{ category.name | truncate }}</a>
</td>
<td class="category_count value">
{{ category.total }}
</td>
<td class="controls">
<a href="{{ url('/?action=edit_category&amp;id=' ~ category.id) }}"><img src="{{ site.chyrp_url }}/admin/images/icons/edit.svg"
alt="{{ 'edit' | translate }}"></a>
</td>
<td class="controls">
<a href="{{ url('/?action=delete_category&amp;id=' ~ category.id) }}"><img src="{{ site.chyrp_url }}/admin/images/icons/delete.svg"
alt="{{ 'delete' | translate }}"></a>
</td>
</tr>
{% else %}
<tr>
<td class="placeholder"><span class="sub">{{ "(none)" | translate }}</span></td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
