{% extends "layouts" ~ DIR ~ "default.twig" %}

{% block title %}{{ "Manage Categories" | translate("categorize") }}{% endblock %}

{% block content %}
<form class="filters" action="{{ url('manage_category') }}" method="post" accept-charset="UTF-8" role="search">
<fieldset role="presentation">
<h3>
{{ "Search&hellip;" | translate }}
<a href="{{ url('help/id/filtering_results') }}" rel="help" target="_blank" class="help emblem"><img src="{{ site.chyrp_url }}/admin/images/icons/help.svg" alt="{{ 'help' | translate }}"></a>
</h3>
<input class="text filter_text" type="text" name="query" value="{{ GET.query | fix(true) }}" id="query" aria-label="{{ 'Query' | translate | fix(true) }}">
<button type="submit">{{ "Search" | translate }}</button>
<a href="{{ url('new_category') }}" class="button yay"> 
<img src="{{ site.chyrp_url }}/admin/images/icons/add.svg" alt="">{{ "Add Category" | translate("categorize") }}
</a>
</fieldset>
</form>
<h2>{{ GET.query is not empty ? "Search Results" | translate : "Manage Categories" | translate("categorize") }}</h2>
<table>
<thead> 
<tr class="head">
<th class="category_show emblem">{{ "Listed?" | translate("categorize") }}</th>
<th class="category_name name main">{{ "Name" | translate("categorize") }}</th>
<th class="category_count value">{{ "Posts" | translate("categorize") }}</th>
{{ trigger.call("manage_comments_column_header") }}
<th class="controls" colspan="2">{{ "Controls" | translate }}</th>
</tr>   
</thead>
<tbody> 
{% for category in categorize %}
<tr id="category_{{ category.id }}">
<td class="category_show emblem">
{% if category.show_on_home %}
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/success.svg" alt="{{ 'yes' | translate }}">
{% endif %}
</td>
<td class="category_name name main">
<a href="{{ category.url }}">{{ category.name | oneof("[Untitled]" | translate) | truncate(40, "&hellip;", true) }}</a>
</td>
<td class="category_count value">
{{ category.post_count }}
</td>
<td class="controls">
{{ category.edit_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/edit.svg" alt="' ~ ('edit' | translate) ~ '">') }}
</td>
<td class="controls">
{{ category.delete_link('<img src="' ~ site.chyrp_url ~ '/admin/images/icons/delete.svg" alt="' ~ ('delete' | translate) ~ '">') }}
</td>
</tr>
{% else %}
<tr>
<td class="placeholder">
<img class="emblem" src="{{ site.chyrp_url }}/admin/images/icons/failure.svg" alt="">
{{ "[None]" | translate }}
</td>
</tr>
{% endfor %}
</tbody>
</table>
{% endblock %}
