<!DOCTYPE html>
<html lang="{{ site.locale | lang_base }}">
<head>
<meta charset="UTF-8">
<title>{% block title %}{{ site.name | fix }}{{ title is not empty ? " | " ~ title | striptags | fix : "" }}{% endblock %}</title>
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="initial-scale = 1.0">
<link rel="icon" sizes="32x32" type="image/x-icon" href="{{ site.chyrp_url }}/favicon.ico">
<link rel="icon" sizes="any" type="image/svg+xml" href="{{ site.chyrp_url }}/favicon.svg">
<link rel="mask-icon" href="{{ site.chyrp_url }}/favicon.svg" color="#4f4f4f">
{{ theme.feeds() }}
{{ theme.stylesheets() }}
{{ theme.javascripts() }}
{{ trigger.call("end_head") }}
</head>
<body class="route_{{ route.action }}">
<!-- Mast -->
<div class="shim">
{% for notice in flash.notices %}
<div class="ribbon flash notice">
<h3 role="alert" class="ribbon">{{ notice }}</h3>
</div>
{% endfor %}
{% for warning in flash.warnings %}
<div class="ribbon flash warning">
<h3 role="alert" class="ribbon">{{ warning }}</h3>
</div>
{% endfor %}
{% for message in flash.messages %}
<div class="ribbon flash message">
<h3 role="alert" class="ribbon">{{ message }}</h3>
</div>
{% endfor %}
</div>
{% if not ["login", "controls", "register", "lost_password"] | contains(route.action) %}
<div id="mast" role="banner">
<h1 class="banner"><a href="{{ url('/') }}">{{ site.name }}</a></h1>
<form class="search_box" action="{{ url('search') }}" method="post" accept-charset="UTF-8" role="search">
<input type="text" id="search_field" name="query" value="{{ search is defined ? search | fix(true) : '' }}" placeholder="{{ 'Search&hellip;' | translate }}" aria-label="{{ 'Search this blog' | translate }}">
<button type="submit" id="search_submit">{{ "Search" | translate }}</button>
</form>
</div>
{% endif %}
<!-- Sidebar -->
{% include "content/sidebar.twig" %}
<!-- Content -->
<div id="main" role="main">
{% block content %}{% endblock %}
</div>
{% if posts.paginated is defined and (posts.prev_page() or posts.next_page()) %}
<!-- Navigation -->
<div role="navigation" class="prev_next traversal">
{% if posts.paginated is defined and posts.prev_page() %}{{ posts.prev_link("Newer posts" | translate) }}{% endif %}
{% if posts.paginated is defined and posts.next_page() %}{{ posts.next_link("Older posts" | translate) }}{% endif %}
</div>
{% endif %}
<!-- Footer -->
<ul id="nav" role="menu" class="navigation">
<li role="presentation">
<a role="menuitem" href="{{ url('index') }}">{{ "Blog" | translate }}</a>
</li>
{% if theme.pages_list is not empty %}
{% for item in theme.pages_list %}
{% if item.depth == 1 %}
<li role="presentation" class="page">
<a role="menuitem" href="{{ item.url() }}">{{ item.title }}</a>
</li>
{% endif %}
{% endfor %}
{% endif %}
<li role="presentation">
<a role="menuitem" href="{{ mailto(site.email) }}">{{ "Email" | translate }}</a>
</li>
<li role="presentation">
<a role="menuitem" href="{{ url('feed') }}" rel="alternate">{{ "Feed" | translate }}</a>
</li>
<li role="presentation">
<a role="menuitem" href="{{ url('archive') }}" rel="archives">{{ "Archive" | translate }}</a>
</li>
{% if visitor.group.can("change_settings", "toggle_extensions") %}
<li role="presentation">
<a role="menuitem" href="{{ url('/', 'AdminController') }}">{{ "Admin" | translate }}</a>
</li>
{% elseif visitor.group.can("add_post") %}
<li role="presentation">
<a role="menuitem" href="{{ url('/', 'AdminController') }}">{{ "Write" | translate }}</a>
</li>
{% elseif visitor.group.can("add_draft") %}
<li role="presentation">
<a role="menuitem" href="{{ url('/', 'AdminController') }}">{{ "Draft" | translate }}</a>
</li>
{% endif %}
{% if visitor.logged_in %}
<li role="presentation">
<a role="menuitem" href="{{ url('controls') }}">{{ "Controls" | translate }}</a>
</li>
<li role="presentation">
<a role="menuitem" href="{{ url('logout') }}">{{ "Log out" | translate }}</a>
</li>
{% else %}
{% if site.can_register %}
<li role="presentation">
<a role="menuitem" href="{{ url('register') }}">{{ "Register" | translate }}</a>
</li>
{% endif %}
<li role="presentation">
<a role="menuitem" href="{{ url('login') }}">{{ "Log in" | translate }}</a>
</li>
{% endif %}
<li role="presentation" id="mobile_toggle" aria-hidden="true">
<a role="menuitem" id="mobile_toggle_link" href="#">{{ "Menu" | translate }}</a>
</li>
</ul>
{{ trigger.call("end_content") }}
</body>
<!-- Queries: {{ sql_queries }} | Load Time: {{ theme.load_time() }} -->
{% if debug %}
<!--
{% for caller in sql_debug %}
{{ caller.query | replace({"\t": "    "}) | fix }}
{{ "Called from %s on line %d at %s seconds." | translate | format(caller.file, caller.line, caller.time) }}
{% endfor %}
-->
{% endif %}
</html>
