<!DOCTYPE html>
<html lang="{{ site.locale | lang_base }}" dir="{{ site.locale | text_direction }}">
<head>
<meta charset="UTF-8">
<title>
{%- block title -%}
{%- if pagination is not empty and pagination.page > 1 -%}
{{- "Page %d" | translate | format(pagination.page) -}}
{{- " | " -}}
{%- endif -%}
{%- if title is not empty -%}
{{- title | fix -}}
{{- " | " -}}
{%- endif -%}
{{- site.name | fix -}}
{%- endblock -%}
</title>
<meta name="description" content="{{ site.description }}">
<meta name="viewport" content="initial-scale = 1.0">
<link rel="icon" sizes="32x32" type="image/x-icon" href="{{ site.chyrp_url }}/favicon.ico">
<link rel="icon" sizes="any" type="image/svg+xml" href="{{ site.chyrp_url }}/favicon.svg">
<link rel="mask-icon" href="{{ site.chyrp_url }}/favicon.svg" color="#4f4f4f">
{{ theme.feeds() }}
{{ theme.stylesheets() }}
{{ theme.javascripts() }}
{{ trigger.call("end_head") }}
</head>
<body class="route_{{ route.action }}">
{% for notice in flash.notices %}
<div role="alert" class="ribbon flash notice">
{{ notice }}
</div>
{% endfor %}
{% for warning in flash.warnings %}
<div role="alert" class="ribbon flash warning">
{{ warning }}
</div>
{% endfor %}
{% for message in flash.messages %}
<div role="alert" class="ribbon flash message">
{{ message }}
</div>
{% endfor %}
<!-- Sidebar -->
{% include "content/sidebar.twig" %}
<!-- Content -->
<div id="main" role="main">
{% block content %}{% endblock %}
</div>
{% if posts.paginated is defined and (posts.prev_page() or posts.next_page()) %}
<!-- Navigation -->
<div role="navigation" class="prev_next traversal">
{% if posts.paginated is defined and posts.prev_page() %}{{ posts.prev_link("Newer posts" | translate) }}{% endif %}
{% if posts.paginated is defined and posts.next_page() %}{{ posts.next_link("Older posts" | translate) }}{% endif %}
</div>
{% endif %}
{{ trigger.call("end_content") }}
</body>
<!-- Queries: {{ sql_queries }} | Load Time: {{ theme.load_time() }} -->
{% if debug %}
<!--
{% for caller in sql_debug %}
{{ caller.query | replace({"\t": "    "}) | fix }}
{{ "Called from %s on line %d at %s seconds." | translate | format(caller.file, caller.line, caller.time) }}

{% endfor %}
-->
{% endif %}
</html>
